        RewriteEngine On
        RewriteCond %{HTTPS} off
        RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

        ErrorDocument 404 https://greenbaypackerslockerroom.com/
        Options All -Indexes
         