        RewriteEngine On
        RewriteBase /
        RewriteCond %{HTTP_HOST} ^www.greenbaypackerslockerroom.com/
        RewriteRule ^(.*)$ https://greenbaypackerslockerroom.com/$1 [R=301,L]

        ErrorDocument 404 https://greenbaypackerslockerroom.com/
        Options All -Indexes
         